.App {
  text-align: center;
}

nav {
  background-color: black !important;
  height: 100px;
}

.brand-logo {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
}

.video-wrapper {
  position: relative;
}

.video_wrapper video {
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 35%;
  text-align: center;
  z-index: 1;
  color: white;
  width: 100%;
  height: 100%;
}

.heading {
  margin: 20px;
  font-family: 'Oxygen', sans-serif;
  font-size: 10em;
}
.down a {
  margin-top: 100px;
  color: white;
}

.content {
  border: 1px solid lightgrey;
  margin: 50px;
  text-align: justify;
  padding: 10px 20px;
  font-family: 'Noto Serif', serif;
}

p {
  font-family: 'Noto Serif', serif;
}

.icons_all {
  display: flex;
  justify-content: space-around;
  margin: 10px 50px 10px 50px;
}

.learn-more-link {
  border: lightgrey 5px;
  padding: 20px;
}

h4 {
  text-align: center;
}

.line-graph {
  margin: 0 100px;
}


.pollutants-chart {
  margin: 30px;
}

@media (max-width: 600px) {
  .brand-logo {
    height: 50px;
    width: 50px;
  }
  nav {
    height: 60px;
  }
  .heading {
    font-size: 3em;
  }
  .overlay {
    text-align: center;
    top: 15%;
    width: 100%;
    height: 30%;
  }
  .icon-circles {
    height: 50px;
    width: 50px;
  }
  .pollutants-chart {
    height: auto;
    max-width: 330px;
  }
  .line-graph {
    margin: 0 50px;
  }
}